.form-control mr-sm-2::-webkit-input-placeholder{
    
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
}

.btn btn-outline-success my-2 my-sm-0{
    align-items: center;
}

::placeholder{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70%;
}